In [71]:
import datetime
import pandas as pd

a = datetime.datetime.now()
tmp=pd.DataFrame({
   '姓名':['A', 'B', 'C']
})

# 不同时间类型
tmp['时间']=a
# print(tmp)
tmp['年月日']=a.date()
tmp['年']=a.year
tmp['月']=a.month
tmp['日']=a.day
tmp['小时']=a.hour
tmp['分钟']=a.minute
tmp['秒']=a.second

tmp

  姓名                         时间         年月日     年  月   日  小时  分钟   秒
0  A 2022-04-24 14:18:34.117910  2022-04-24  2022  4  24  14  18  34
1  B 2022-04-24 14:18:34.117910  2022-04-24  2022  4  24  14  18  34
2  C 2022-04-24 14:18:34.117910  2022-04-24  2022  4  24  14  18  34

In [74]:
# 时间格式，字符串，时间，时间戳之间的相互转换

tmp=pd.DataFrame({
   '姓名':['A', 'B', 'C']
})

# 不同时间类型
tmp['时间']=a
# 查看时间类型
# tmp.dtypes
# 时间转换为字符串
tmp['时间_str']=tmp['时间'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))
# 字符串转换为时间
tmp['str_时间']=tmp['时间_str'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
# 字符串转换为时间
tmp['str_时间2']=pd.to_datetime(tmp['时间_str'])
# 时间转换为时间戳
tmp['时间_时间戳']=tmp['时间'].apply(lambda x: x.timestamp())
# 时间戳转换为时间
tmp['时间戳_时间'] = tmp['时间_时间戳'].apply(lambda x: datetime.datetime.fromtimestamp(x))
tmp

tmp.dtypes

姓名                 object
时间         datetime64[ns]
时间_str             object
str_时间     datetime64[ns]
str_时间2    datetime64[ns]
时间_时间戳            float64
时间戳_时间     datetime64[ns]
dtype: object

In [77]:
# 时间相加减
import numpy as np

tmp=pd.DataFrame({
   '姓名':['A', 'B', 'C']
})

# 不同时间类型
tmp['时间']=a
# 时间加1天
tmp['时间+1天']=tmp['时间']+datetime.timedelta(days=1)
# 时间加1个星期
# tmp['时间+1周']=tmp['时间']+datetime.timedelta(weeks=1)
# 时间减1天
tmp['时间-1天']=tmp['时间']-datetime.timedelta(days=1)
# 时间件分钟
tmp['时间-1小时']=tmp['时间']-datetime.timedelta(hours=13)
# 两个时间相减
tmp['时间差']=tmp['时间+1天']-tmp['时间-1小时']
# 转换为天
tmp['时间差_天'] = tmp['时间差'].map(lambda x: x / np.timedelta64(1, 'D'))
# 转换为小时
tmp['时间差_小时'] = tmp['时间差'].map(lambda x: x / np.timedelta64(1, 'h'))
# 转换为整数
# tmp['时间差_天整数'] =tmp['时间差_天'] .astype('int')
# 保留多少位小数
# tmp['时间差_天整数2']=tmp['时间差_天'].map(lambda x:format(x,'.2'))
# 四舍五入转换为整数
tmp['时间差_天整数3']=tmp['时间差_天'].astype(float).round().astype(int)

tmp

,姓名,时间,时间+1天,时间-1天,时间-1小时,时间差,时间差_天,时间差_小时,时间差_天整数3
0,A,2022-04-24 14:18:34.117910,2022-04-25 14:18:34.117910,2022-04-23 14:18:34.117910,2022-04-24 01:18:34.117910,1 days 13:00:00,1.541667,37.0,2
1,B,2022-04-24 14:18:34.117910,2022-04-25 14:18:34.117910,2022-04-23 14:18:34.117910,2022-04-24 01:18:34.117910,1 days 13:00:00,1.541667,37.0,2
2,C,2022-04-24 14:18:34.117910,2022-04-25 14:18:34.117910,2022-04-23 14:18:34.117910,2022-04-24 01:18:34.117910,1 days 13:00:00,1.541667,37.0,2